@media (min-width: 767px){
    /* footer nav center */
    .site-footer .inner{
        grid-template-columns: 1fr 4fr 1fr;
    }
    .site-footer .inner li:first-child > a{
        margin-left: 0;
    }
}

.gh-content.gh-canvas.custom-dashboard iframe{
    grid-column: full-start/full-end;
}